{% extends 'app/base.html' %} {% block content %}

<form class="form-signin" method="post">
    {% csrf_token %} {% if form.errors %}
    <p>ユーザー名かパスワードが間違っています。</p>
    {% endif %}
    <h2>ログイン</h2>
    <label>メールアドレス</label>
    <input name="username">
    <br>
    <label>パスワード</label>
    <input type="password" name="password">
    <br>
    <h2>ソーシャルサービスを選択してログイン</h2>
    <ul>
        <li><a href="{% url 'social:begin' 'google-oauth2' %}">Googleでログイン</a></li>
    </ul>

    <input type="submit" value="ログイン">
</form>

{% endblock %}